<!DOCTYPE html>
<html>
<head>
    <title>Audio Recorder</title>
</head>
<body>
    <table style="width:100%">
        <tr>
            <td style="width:50%">
                <h2>Record and Upload Audio</h2>

                <button id="record">Record</button>
                <button id="stop">Stop</button>
                <span id="timer">00:00</span>
                <audio id="audio"></audio>
                <form id="uploadForm" method="POST" action="/upload" enctype="multipart/form-data">
                    <input type="hidden" name="audio_data" id="audioData">
                </form>
                <script src="script.js"></script>
                <hr>
                <h2>Recorded Files</h2>
                <ul>
                    {% for file in files %}
                    {% if file.endswith('.wav') %}
                    <li>
                        <audio controls>
                            <source src="{{ url_for('uploaded_file', filename=file) }}" type="audio/wav">
                            Your browser does not support the audio element.
                        </audio><br>
                        {{ file }}
                        <a href="{{ url_for('uploaded_file', filename=file + '.txt') }}">{{ file.replace('.wav', '') }}.txt</a>

                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
        </tr>
    </table>
</body>
</html>
